.nav_link {
     width: 100%;
     display: flex;
     background-color: rgb(5, 24, 24);
     a {
          color: white;
          text-decoration: none;
          font-size: 20px;
          padding-right: 40px;
     }
}
